@import "../../global.scss";

.portfolio {
    width: 100vw;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start;

    @include large {
        gap: 20px;
        padding: 0px 40px;
    }

    @include mobile {
        padding: 0px 10px;
    }

    @include phone {
        padding: 80px 0px;
    }


}


//FEATURED
.featured {
    gap: 15px;
    width: 100vw;
    display: flex;
    margin: 10px 0px;
    padding: 0px 30px;
    align-items: center;
    justify-content: center;

    @include large {
        gap: 20px;
        padding: 0px 40px;
    }

    @include tablet {
        gap: 20px;
        padding: 0px 40px;
    }

    @include mobile {
        padding: 0px 10px;
    }

    @include phone {
        padding: 0px 0px;
    }


    .left {
        flex: 0.4;
        gap: 10px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;

        @include tablet {
            display: none;
        }

        a {
            color: inherit;
            margin-bottom: 10px;

            .headerIcon {
                font-size: 20px;
                color: $darkHighlight;
            }
        }

    }

    .right {
        flex: 8;
        gap: 20px;
        display: flex;
        padding: 0 80px;
        flex-direction: column;

        @include large {
            gap: 20px;
            padding: 0px 20px;
        }

        .top {
            gap: 5px;
            display: flex;
            margin-top: 15px;
            flex-direction: column;

            h1 {
                font-size: 20px;
                letter-spacing: 0.5px;
                color: $mainColor;
            }

            h2 {
                font-size: 20px;
                letter-spacing: 0.5px;
                color: $mainColor;

                @include large {
                    font-size: 20px;
                }
            }

            hr {
                border: none;
                border: 0.3px solid rgba(85, 85, 85, 0.7);
            }

        }

        .bottom {
            gap: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @include large {
                gap: 8px;
            }

            @include mobile {
                gap: 20px;
            }

            .wrapper {
                gap: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;

                @include large {
                    gap: 20px;
                }

                @include tablet {
                    gap: 60px;
                    flex-direction: column;
                    // grid-template-columns: repeat(1, 1fr);
                }

                @include mobile {}

                .item {
                    flex: 1;
                    display: flex;
                    cursor: pointer;
                    // border-radius: 10px;
                    align-items: center;
                    color: $darkHighlight;
                    justify-content: center;
                    transition: all .5s ease;
                    flex-direction: column;
                    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

                    img {
                        width: 100%;
                        height: 275px;
                        z-index: 1;
                        // opacity: 0.75;
                        @include large {
                            height: 205px;
                        }

                        @include tablet {
                            height: 300px;
                        }

                        @include mobile {
                            height: 240px;
                        }

                        @include phone {
                            height: 200px;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                    }


                    .details {
                        gap: 10px;
                        display: flex;
                        padding: 20px 30px;
                        align-items: center;
                        text-align: center;
                        flex-direction: column;
                        justify-content: center;
                        color: $dimColor;
                        background-color: #112240;
                        background-color: $mainBlackLight;

                        h3 {
                            color: $dimColor;
                            font-size: 16px;
                            font-weight: 400;
                            @include mobile {
                                font-size: 16px;
                            }
                        }

                        p {
                            font-size: 13px;
                            font-weight: 300;
                            letter-spacing: 0.5px;
                        }

                        span {
                            word-spacing: 10px;
                            font-size: 12px;
                            margin-top: 5px;
                            color: $darkHighlight;
                        }

                        .buttons {
                            gap: 10px;
                            width: 100%;
                            display: flex;
                            margin-top: 20px;
                            padding: 0px 30px;
                            align-items: center;
                            justify-content: center;

                            @include phone {
                                a {
                                    color: inherit;
                                    text-decoration: none;
                                }

                            }

                            .button {
                                width: 100px;
                                border: none;
                                padding: 10px;
                                color: $mainDark;
                                border-radius: 3px;
                                background-color: $dimColor;
                            }
                            .button:hover{
                                color: $mainDark;
                                background-color: $darkHighlight;
                            }
                            .button1 {
                                width: 150px;
                                border: none;
                                padding: 10px;
                                color: $mainDark;
                                border-radius: 3px;
                                background-color: $dimColor;
                            }
                            .button1:hover{
                                color: $mainDark;
                                background-color: $darkHighlight;
                            }

                        }
                    }

                }

                // .item:hover img {
                //     transform: translateY(-100%);
                // }
            }

        }
    }
}



