$mainColor: #FFFFFF;
$mainDark: #192841;
$dimColor: rgba(250,249,246, 0.75);
$dimTextColor: rgba(250,249,246, 0.65);
$darkHighlight: rgba(100,255,218, 0.8);

$lightTextColor: #33272a;
$lightBackground:#faeee7;
$highlight: #DEB992;

$extrasmall: 480px; //blue //phone
$small: 576px; //yellow // mobile
$medium: 768px; //orange //tablet
$large: 960px;  //green  /// large

@mixin phone {
      @media (max-width: #{$extrasmall}) {
            @content
      }
};

@mixin mobile {
      @media (max-width: #{$small}) {
            @content
      }
};

@mixin tablet {
      @media (max-width: #{$medium}) {
            @content
      }
};

@mixin large {
      @media (max-width: #{$large}) {
            @content
      }
};
